"$schema" = "https://starship.rs/config-schema.json"

add_newline     = true
command_timeout = 500
[character]
error_symbol   = "[❯❯](bold red) "
success_symbol = "[❯❯](bold green) "

[hostname]
format   = "[󰢩 $hostname](bold green) "
ssh_only = true

[username]
detect_env_vars = ["SSH_CLIENT", "SSH_CONNECTION", "SSH_TTY", "SUDO_USER"]
format          = "[$user]($style) "
show_always     = false
style_root      = "bold red"
style_user      = "bold green"

[git_status]
disabled          = false
ignore_submodules = true

[git_metrics]
disabled = true

[python]
detect_extensions = []
detect_folders    = []
format            = "[$symbol$virtualenv ($version)]($style) "
