"$schema" = "https://starship.rs/config-schema.json"

palette = "catppuccin_mocha"

add_newline     = true
command_timeout = 500

[character]
error_symbol   = "[❯❯](bold red) "
success_symbol = "[❯❯](bold green) "

[hostname]
format   = "[󰢩 $hostname](bold yellow) "
ssh_only = true

[username]
detect_env_vars = ["SSH_CLIENT", "SSH_CONNECTION", "SSH_TTY", "SUDO_USER"]
format          = "[$user]($style) "
show_always     = false
style_root      = "bold red"
style_user      = "bold green"

[git_status]
disabled          = false
ignore_submodules = true

[git_metrics]
disabled = true

[python]
detect_extensions = []
detect_folders    = []
format            = "[$symbol$virtualenv ($version)]($style) "

[palettes.catppuccin_mocha]
base      = "#1e1e2e"
blue      = "#89b4fa"
crust     = "#11111b"
flamingo  = "#f2cdcd"
green     = "#a6e3a1"
lavender  = "#b4befe"
mantle    = "#181825"
maroon    = "#eba0ac"
mauve     = "#cba6f7"
overlay0  = "#6c7086"
overlay1  = "#7f849c"
overlay2  = "#9399b2"
peach     = "#fab387"
pink      = "#f5c2e7"
red       = "#f38ba8"
rosewater = "#f5e0dc"
sapphire  = "#74c7ec"
sky       = "#89dceb"
subtext0  = "#a6adc8"
subtext1  = "#bac2de"
surface0  = "#313244"
surface1  = "#45475a"
surface2  = "#585b70"
teal      = "#94e2d5"
text      = "#cdd6f4"
yellow    = "#f9e2af"
