"$schema" = "https://starship.rs/config-schema.json"

add_newline = false
[character]
error_symbol   = "[❯❯](bold red) "
success_symbol = "[❯❯](bold green) "

[hostname]
format   = "[󰢩 $hostname](bold green) "
ssh_only = true

[username]
detect_env_vars = ["SSH_CLIENT", "SSH_CONNECTION", "SSH_TTY", "SUDO_USER"]
format          = "[$user]($style) "
show_always     = false
style_root      = "bold red"
style_user      = "bold green"

[git_status]
ahead             = "⇡${count}"
behind            = "⇣${count}"
conflicted        = "[!${count}](bold red)"
deleted           = "[✘${count}](red)"
disabled          = false
diverged          = "⇕⇡${ahead_count}⇣${behind_count}"
format            = "[$all_status$ahead_behind]($style) "
ignore_submodules = true
modified          = "[~${count}](yellow)"
renamed           = "[»${count}](cyan)"
staged            = "[++${count}](green)"
stashed           = "[󱈎 ${count}](blue)"
style             = "bold blue"
untracked         = "[?${count}](purple)"

[git_metrics]
added_style        = "dimmed green"
deleted_style      = "dimmed red"
disabled           = false
format             = "([▴$added]($added_style))([▾$deleted]($deleted_style)) "
ignore_submodules  = true
only_nonzero_diffs = true

[python]
detect_extensions = []
detect_folders    = []
format            = "[$symbol$virtualenv ($version)]($style) "
