"$schema"         = 'https://starship.rs/config-schema.json'

format            = """$username$hostname$directory$git_branch$git_status$cmd_duration$python$jobs$line_break$character"""

add_newline       = false

[character]
error_symbol      = "[󰁔](bold red) "
success_symbol    = "[󰁔](bold green) "
vicmd_symbol      = "[󰁍](bold yellow) "

[hostname]
format            = "[󰒋 $hostname](bold green) "
ssh_only          = true

[username]
detect_env_vars   = ["SSH_CLIENT", "SSH_CONNECTION", "SSH_TTY", "SUDO_USER"]
format            = "[$user]($style) "
show_always       = false
style_root        = "bold red"
style_user        = "bold purple"

[jobs]
format            = "[$symbol$number]($style) "
number_threshold  = 2
symbol            = "󰒱 "
symbol_threshold  = 1

[directory]
format            = "[$path]($style)[$read_only]($read_only_style) "
read_only         = " "
read_only_style   = "red"
style             = "bold blue"
truncation_length = 3
truncation_symbol = "… /"

[git_branch]
format            = "[$symbol$branch]($style) "
style             = "bold purple"
truncation_length = 24
truncation_symbol = "… "

[git_status]
ahead             = '⇡${count}'
behind            = '⇣${count}'
conflicted        = '[!${count}](bold red)'
deleted           = '[✘${count}](bold red)'
disabled          = false
diverged          = '⇕⇡${ahead_count}⇣${behind_count}'
format            = '([\[$all_status$ahead_behind\]]($style) )'
ignore_submodules = true
modified          = '[~${count}](bold yellow)'
renamed           = '[»${count}](bold cyan)'
staged            = '[++${count}](bold green)'
stashed           = '[󱈎 ${count}](bold blue)'
style             = "bold blue"
untracked         = '[?${count}](bold purple)'

[cmd_duration]
format            = "[󰔛 $duration]($style) "
min_time          = 2000
style             = "bold yellow"

[python]
detect_extensions = []
detect_folders    = []
disabled          = false
format            = "[$symbol$virtualenv]($style) "
style             = "bold yellow"
symbol            = " "
